* {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas {
    background-color: black;
}

#inputFile {
    position: absolute;
    height: auto;
    text-align: center;
}
