* {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    color: black;
}

#btn {
    display: flex;
    justify-content: center;
}

#btn > div {
    color: white;
    position: absolute;
    margin: 3vw;
    padding: 1vw;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    border-radius: 50px;
    border: 5px solid rgb(112, 80, 173);
    background-color: rgb(112, 80, 173);
    cursor: pointer;
}

#canvas {
    background-color: black;
}

#inputFile {
    display: none;    
}
